.footer {
  background: rgb(110, 73, 83);
  background: linear-gradient(
    0deg,
    rgba(110, 73, 83, 1) 0%,
    rgba(149, 91, 107, 1) 50%,
    rgba(176, 95, 117, 1) 100%
  );
  height: 15vh;
  @extend %estiloEvenly;
  flex-direction: column;
  color: white;
  .socialIcons {
    i {
      margin: 10px 20px;
      padding: 7px;
      border-radius: 50%;
      background-color: white;
    }
  }
}

/* Logo de Whatsapp */

.fa-whatsapp {
  position: fixed;
  bottom: 5%;
  right: 1%;
  color: white;
  font-size: 3rem;
  background-color: $colorWhatsapp;
  padding: 0.6rem;
  border-radius: 50%;
}
