.mainServicios{
  @extend %estiloCentrado;
}

.contenedorServicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 60px 20px 60px 20px;
}

.tarjetaServicios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  padding: 30px;
  width: 30%;
  height: 300px;
  box-shadow: 12px 10px 24px -7px rgba(0, 0, 0, 0.75);
  &:hover{
    box-shadow: 7px 10px 24px 20px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    transition: 1s;
  }
}

.parrafoLeyenda {
  text-align: center;
  width: 70%;
  font-size: .9rem;
  text-align: center;
  margin: 50px auto;
}

#carouselExampleIndicators{
  width: 60%;
  margin: 20px 0 80px 0;
}

@media (max-width: 1130px) {
  .tarjetaServicios {
    width: 50%;
    padding: 20px;
    box-shadow: 12px 10px 24px -7px rgba(0, 0, 0, 0.75);
  }

  .parrafoLeyenda{
    margin: 10px auto;
  }

  .contenedorServicios{
    margin: 30px 20px 60px 20px;;
  }
}

@media (max-width: 780px) {
  .contenedorServicios {
    flex-direction: column;
  }

  .tarjetaServicios {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .parrafoLeyenda{
    font-size: .8rem;
  }
}
